---

- name: Clone plymouth themes
  git:
    clone: yes
    repo: https://github.com/adi1090x/plymouth-themes.git
    dest: /usr/src/plymouth-themes

- name: Copy over Plymouth themes
  copy:
    remote_src: yes
    src: "/usr/src/plymouth-themes/{{ item.pack }}/{{ item.theme }}"
    dest: "/usr/share/plymouth/themes/"
  with_items: "{{ plymouth_themes }}"

- name: Install Plymouth themes
  shell:  update-alternatives --install \
    /usr/share/plymouth/themes/default.plymouth default.plymouth \
    /usr/share/plymouth/themes/{{ item.theme }}/{{ item.theme }}.plymouth 100
  with_items: "{{ plymouth_themes }}"

- name: Set default plymouth theme
  shell: "update-alternatives --set default.plymouth /usr/share/plymouth/themes/{{ plymouth_default_theme }}/{{ plymouth_default_theme }}.plymouth"

- name: Update init RAM filesystem
  shell: update-initramfs -u
